<div class="contHotel">
  Filtros
</div>
<div class="contHotel form-group">
  <h5> <img src="assets/icons/filters/search.svg"  class="star"/> Nombre del hotel</h5>
  <div>
    <input [(ngModel)]='hotelName' class="form-control">

  <button type="button" (click)="hotels.getHotelsFilter(hotelName, hotelStars)" class="btn-primary"> Aceptar</button>
  <br><br>
  </div>
  <h5><img src="assets/icons/filters/star.svg"  class="star"/> Estrellas </h5><br>
  <input type="radio"  name="stars" id="_5" [(ngModel)]='hotelStars' value="5">
    <img *ngFor="let in of counter(5) ;let i = index"   src="assets/icons/filters/star.svg"  class="star"/>
    <br>
    <input type="radio" name="stars" id="_4" [(ngModel)]='hotelStars' value="4" >
    <img *ngFor="let in of counter(4) ;let i = index"   src="assets/icons/filters/star.svg"  class="star"/>
    <br>
    <input type="radio" name="stars" id="_3" [(ngModel)]='hotelStars' value="3" >
    <img *ngFor="let in of counter(3) ;let i = index"   src="assets/icons/filters/star.svg"  class="star"/>
    <br>
    <input type="radio" name="stars" id="_2" [(ngModel)]='hotelStars' value="2" >
    <img *ngFor="let in of counter(2) ;let i = index"   src="assets/icons/filters/star.svg"  class="star"/>
    <br>
    <input type="radio" name="stars" id="_1" [(ngModel)]='hotelStars' value="1" >
    <img   src="assets/icons/filters/star.svg"  class="star"/>
    <br>

</div>
