<div class="row contHotel" *ngFor="let hotel of hotels">

  <div class="col-lg-3 col-sm-3"> <img src="assets/images/hotels/{{hotel.image}}" style="max-width: 100%"/> </div>
  <div class="col-lg-5 col-sm-5">
    <h5> {{hotel.name}} </h5>
    <div>
      <img   *ngFor="let in of counter(hotel.stars) ;let i = index" src="assets/icons/filters/star.svg"  style="width:25px;padding:4px;"/>
    </div>
    <div>
      <img src="assets/icons/amenities/{{ame}}.svg" *ngFor="let ame of hotel.amenities" style="width:25px;padding:4px"/>
    </div>
  </div>

  <div class="col-lg-4 col-sm-4 labelPrice">
    Precio por noche por habitación
    <div class="price" > ARS <span style="font-size:40px">{{hotel.price}}</span> </div>
    <button type="button" name="button" class="btn-primary" style="padding:10px;font-size:14px" >
      Ver hotel
    </button>

  </div>


</div>
